:root {
    --bg-color: #ebebde;
    --fg-color: #777764;
    --text-color: #464747;
    --on-fg-color: #ebebde;
}


html {
    font-family: 'Lato', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

body {
    background-color: transparent !important;
}

.accordion-body > div {
    margin-bottom: 1rem;
}

.accordion {
    --bs-accordion-active-bg: var(--fg-color);
    --bs-accordion-active-color: var(--on-fg-color);
}
